<div>
  <div style="margin-top: 20px;">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="col-2" style="background-color: #D9D9D9;">STT</th>
          <th scope="col" class="col-2" style="background-color: #D9D9D9;">Book</th>
          <th scope="col" class="col-2" style="background-color: #D9D9D9;">Librarian</th>
          <th scope="col" class="col-2" style="background-color: #D9D9D9;">User</th>
          <th scope="col" class="col-2" style="background-color: #D9D9D9;">Start</th>
          <th scope="col" class="col-2" style="background-color: #D9D9D9;">End</th>
          <th scope="col" class="col-2" style="background-color: #D9D9D9;">Status</th>
          <th scope="col" class="col-2" style="background-color: #D9D9D9;">Price</th>
        </tr>
      </thead>
      <tbody>
        {{#each br}}
          <tr>
            <th>{{sum @index 1}}</th>
            <td>{{this.book}}</td>
            <td>{{this.librarian}}</td>
            <td>{{this.user}}</td>
            <td>{{this.dateStart}}</td>
            <td>{{this.dateEnd}}</td>
            <td>{{this.status}}</td>
            <td>{{this.price}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>